<% if(typeof hash !== "undefined") { %>
	<form method="post" name="updateForm" class="hide" id="updateForm" action="/inv/<%= hash %>">
		<input type="hidden" name="_method" value="put" />
		<input type="hidden" name="payload" id="update-payload"/>
	</form>
	<form method="post" name="forkForm" id="forkForm" action="/inv">
		<input type="hidden" name="fork" value="y"/>
		<input type="hidden" name="payload" id="fork-payload"/>
	</form>
<% } else { %>
	<form method="post" name="saveForm" id="saveForm" action="/inv">
		<input type="hidden" name="payload" id="save-payload"/>
	</form>
<% } %>


	<section class="subhead" id="overview">
		<div class="subnav">
			<ul class="nav nav-pills">
				<li class="strong"><a href="/"><img src="/assets/images/bull.svg" style="width: 30px; margin-top: -6px"> Invoiceador!</a></li>
		<% if (!invoiceObject.public_hash) { %>
				<li><a href="#" class="save-action prevent-default"><i class="icon-save"></i> Save</a></li>
		<% } else { %>
				<li><a href="#" class="update-action prevent-default"><i class="icon-save"></i> Save</a></li>
				<li><a href="#" class="fork-action prevent-default"><i class="icon-code-fork"></i> Fork</a></li>
				<li><a href="<%=baseUrl %>/inv/<%=invoiceObject.private_data.hash %>/preview"><i class="icon-eye-open"></i> Preview</a></li>

				<!-- <li class="dropdown">
					<a class="trigger" id="dLabel" role="button" data-toggle="dropdown" data-target="" >
						<i class="icon-file"></i> File <b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><a><span class="menu-icon"><i class="icon-save"></i></span><span class="menu-caption">Save</span></a></li>
						<li><a><span class="menu-icon"><i class="icon-code-fork"></i></span><span class="menu-caption">Fork</span></a></li>
						<li><a><span class="menu-icon"><i class="icon-trash"></i></span><span class="menu-caption">Delete</span></a></li>
					
						<li><a href="<%=baseUrl %>/inv/<%=invoiceObject.private_data.hash %>/preview"><span class="menu-icon"><i class="icon-eye-open"></i></span><span class="menu-caption">Preview to share...</span></a></li>
						<li class="divider"></li>
						<!-_- <li><a><span class="menu-icon"><i class="icon-print menu-icon"></i></span><span class="menu-caption">Print</span></a></li> -_->
				
					</ul>
				</li> -->
			<% } %>
				<li class="popover-markup popover-wide">
					<a id="popover-options" class="trigger" data-placement="bottom"><i class="icon-cogs"></i> Settings <b class="caret"></b></a>
					<div class="head hide">Options</div>
					<div class="content hide">
						<a id="close" data-target="popover-options" class="close popoverclose">&times;</a>	     
						<ul class="basic-list">
							<li><span class="subtitle">Locale:</span> UK (£)</li>
							<li><span class="subtitle">VAT:</span> <input type="checkbox" id="hasVat" checked="checked"/></li>
		<!-- 					<li><input type="button" id="saveCompany" class="btn" value="Save Company"/></li>
							<li><input type="button" id="loadCompany" class="btn" value="Load Company"/></li> -->
						<% if (invoiceObject.public_hash) { %>	
							<li class="divider"><hr/></li>
							<li><a><button class="btn btn-mini"><i class="icon-trash"></i> Delete</button></a>
						<% } %>
						</ul>
					<div>
				</li>
				

			</ul>


		</div>

	</section>

