<html>
<head>
	<title>Invoiceador</title>

	<%- include header %>

</head>
<body id="top" data-spy="scroll" data-target=".subnav" data-offset="80" style="margin-top: 0px;">


	<% if(typeof invoice !== 'undefined') { %>
	<input type="hidden" name="shortid" id="shortid" value="<%= hash %>" />
	<% } %>

	<div id="main-container" class="container">
		<%- include menu %>
		<%- include main-alert %>
		<%- include invoice-form %>
	</div>
	<%- include footer %>

	<%- include options-modal %>

</body>
</html>