<html>
<head>
	<title>Invoiceador</title>

	<%- include header %>

</head>
<body id="top" data-spy="scroll" data-target=".subnav" data-offset="80" style="margin-top: 0px;">
	<%- include beta-ribbon %>
	<div id="main-container" class="container">
		<%- include main-alert %>
		<%- include masthead %>
		<%- include edit-menu %>
		<%- include invoice-form %>
	</div>
	<%- include footer %>

	<%- include options-modal %>

</body>
</html>