<html>
<head>
	<title>Invoiceador</title>

	<%- include header %>

</head>
<body id="top" data-spy="scroll" data-target=".subnav" data-offset="80" style="margin-top: 0px;">

	<div id="main-container" class="container">
		<%- include masthead %>
		<%- include menu %>
		<%- include invoice-form %>
	</div>

	<%- include options-modal %>

</body>
</html>