<section class="invoice">

			<div class="row-fluid">
				<h1 class="right">Invoice</h1>

			</div>
			
			<div class="row-fluid">
				<div class="span6">
					<ul class="basic-list">
						<li><h3><%= invoice.sender.company_name %></h3></li>
						<li>Registration number: <%= invoice.sender.company_registration_number %></li>
						<li class="hasVat">VAT number: <%= invoice.sender.company_vat_registration %></li>
					</ul>
				</div>
				<div class="span6 right">
					<div class="date_section">
						<ul class="basic-list">
							<!-- <li class="nav-header mini-title">Invoice Data</li> -->
							<li>Invoice number: <%= invoice.number %></li>
							<li>Date: <%= invoice.date %></li>
						</ul>
					</div>
				</div>
			</div>

			<br/><br/>

			<div class="row">
				<div class="span4">
					<ul class="basic-list">
						<li class="mini-title">Invoice For</li>
						<li><%= invoice.recipient.name %></li>
						<li><%= invoice.recipient.address.line1 %></li>
						<li><%= invoice.recipient.address.line2 %></li>
						<li><%= invoice.recipient.address.town %></li>
						<li><%= invoice.recipient.address.postcode %></li>
						<li><%= invoice.recipient.address.country %></li>
					</ul>
				</div>
			</div>

			<br/><br/>

			<div class="row-fluid">
	
				<table id="fields" class="table table-condensed table-borderless" width="100%">
					<tr>
						<th class="mini-title" width="40%">Description</th>
						<th class="mini-title right">Qty</th>
						<th class="mini-title right">Price</th>
						<th class="mini-title right">Amount</th>
					</tr>
					
				<% 	

					var items = invoice.invoice_data.items;

					for(var i = 0; i < items.length; i++) {
						item = items[i];
				%>	
						<tr class="sheet_row">	
        				<td><span><%= item.description %></span></td>
        				<td class="number"><span ><%= item.qty %></span></td>
						<td class="number"><span class="currency"><%= item.price %></span></td>
						<td class="number"><span class="currency"><%= item.amount %></span></td>
        				</tr>

				<% 	
					} 
				%>	
				<tr><td>&nbsp;</td></tr>

				<% if(invoice.is_vat) {  %>
					<tr>
						<td/><td/>
						<td class="mini-title right">Subtotal</td>
						<td class="number"><span class="currency"><%= invoice.invoice_data.subtotal %></span></td>
					</tr>
				
					<tr>
						<td/><td/>
						<td class="mini-title right">VAT <span><%= invoice.vat_rate %></span> %</td>
						<td class="number"><span class="currency"><%= invoice.invoice_data.vat %></span> </td>
					</tr>
				<% } %>
					<tr>
						<td/><td/>
						<td class="mini-title right">Total</td>
						<td class="number"><span class="strong currency"><%= invoice.invoice_data.total %></span></td>
					</tr>
				</table>
				
			</div>

			<div class="row">
				<p class="nav-header nav-header-darker ">Additional Information</p>
				<p id="additional_information" height="50" class="textarea"></p>	
			</div>


</section>

<% if(print) { %>
	<script>
		window.print();
	</script>
<% } %>