<section class="invoice">

			<br/><br/><br/>

<% var invoice = locals.invoice %>
			
			<div class="row-fluid">
				<div class="span6">
					<ul class="nav">
						<li><input type="text" class="h1_input" placeholder="Your Company Name"
								id="company_name" 
								<%- valueIf(invoice.sender.company_name) %> /></li>
						<li>Registration number: <input type="text" class="shorter" placeholder="00000000000" 
								id="company_registration_number"
								<%- valueIf(invoice.sender.company_registration_number) %> /></li>
						<li class="hasVat">VAT number: <input type="text" class="shorter"  placeholder="00000000000"
								id="company_vat_registration"
								<%- valueIf(invoice.sender.company_vat_registration) %> /></li>
					</ul>
				</div>
				<div class="span6 right">
					<div class="date_section">
						<ul class="nav">
							<!-- <li class="nav-header nav-header-darker">Invoice Data</li> -->
							<li>Invoice number: <input id="invoice_number" class="shorter right" type="text" placeholder="000000" 
								id="invoice.number"
								<%- valueIf(invoice.number) %> /></li>
							<li>Date: <input class="shorter datepicker right" id="invoice_date" type="text" data-date-format="dd/mm/yyyy" placeholder="21/04/2013"
								<%- valueIf(invoice.date) %> /></li>
						</ul>
					</div>
				</div>
			</div>

			<br/><br/>



			<div class="row">
				<div class="span6">
					<ul class="basic-list">
						<li class="mini-title">Invoice For</li>
						<li><input type="text" id="client_name" placeholder="Client Company Name" 
								id="invoice.recipient.name"
								<%- valueIf(invoice.recipient.name) %> /></li>
						<li><input type="text" id="client_address_1" placeholder="Address Line 1"  
								id="invoice.recipient.address.line1"
								<%- valueIf(invoice.recipient.address.line1) %> /></li>
						<li><input type="text" id="client_address_2" placeholder="Address Line 2" 
								id="invoice.recipient.address.line2"
								<%- valueIf(invoice.recipient.address.line2) %> /></li>
						<li><input type="text" id="client_town" placeholder="Town"  
								id-"invoice.recipient.address.town"
								<%- valueIf(invoice.recipient.address.town) %> /></li>
						<li><input type="text" id="client_postcode" placeholder="Postcode" 
								id="invoice.recipient.address.postcode"
								<%- valueIf(invoice.recipient.address.postcode) %> /></li>
						<li><input type="text" id="client_country" placeholder="Country" 
								id="invoice.recipient.address.country"
								<%- valueIf(invoice.recipient.address.country) %> /></li>
					</ul>
				</div>
			</div>

			<br/><br/>

			<div class="row">
			  <div class="span12">
	
				<table id="fields" class="table table-condensed table-borderless" width="100%">
					<tr>
						<th class="mini-title" width="40%">Description</th>
						<th class="mini-title right">Qty</th>
						<th class="mini-title right">Price</th>
						<th class="mini-title right">Amount</th>
						<th width="15%" class="mini-title right actions_column">Actions</th>
					</tr>

				<% 	

					var items = invoice.invoice_data.items;

					for(var i = 0; i < items.length+1; i++) {
						var item = {};
						if(i < items.length) {
							item = items[i];
						} 
				%>	
						<tr class="sheet_row">	
        				<td><input type="text" id="description" class="description navigable itemField" 
        						data-field-name="description" <%- valueIf(item.description) %> /></td>
        				<td><input type="text" id="qty" class="navigable sensitive number qty itemField" 
        						data-field-name="qty" <%- dataValueIf(item.qty) %> /></td>
        				<td><input type="text" id="price" class="navigable sensitive number price itemField" 
        						data-field-name="price" <%- dataValueIf(item.price) %> /></td>
        				<td><input type="text" id="amount" class="navigable sensitive amount number itemField" 
        						data-field-name="amount" <%- dataValueIf(item.amount) %> /></td>
        				<td class="right"><div class="btn-group controls">
			                <a class="up navigable btn btn-small"><i class="icon-arrow-up"></i></a>
			                <a class="down navigable btn btn-small"><i class="icon-arrow-down"></i></a>
			                <a class="del navigable btn btn-small btn-danger" type="button">
			                	<i class="icon-trash icon-white"></i></a>
							</div></td>
        				</tr>

				<% 	
					} 
				%>	

					<tr id="lastRow">
						<td><a id="addRow" class="navigable btn btn-small"/><i class="icon-plus"></i> Add Item</a></td>
						<td/><td class="mini-title"><span class="hasVat">Subtotal</span></td>
						<td><input id="invoice_subtotal" type="text" class="navigable number hasVat"
								<%- dataValueIf(invoice.invoice_data.subtotal) %>  /></td>
						</tr>
					<tr><td/><td/>
						<td class="mini-title"><span class="hasVat">VAT <input id="invoice_vat_rate" class="navigable sensitive number" type="text" <%- dataValueIf(invoice.vat_rate, '0')  %> /> %</span></td>
						<td><input type="text" id="invoice_vat" class="navigable number hasVat" 
							<%- dataValueIf(invoice.invoice_data.vat) %> /></td>
					</tr>
					<tr><td/><td/>
						<td class="mini-title">Total</td>
						<td><input type="text" id="invoice_total" class="navigable number strong"   
							<%- dataValueIf(invoice.invoice_data.total) %> /></td>
					</tr>
				</table>
			  </div>	
			</div>

			<div class="row">
				<p class="nav-header nav-header-darker ">Additional Information</p>
				<textarea id="additional_info" height="50" class="textarea"><%- stringIf(invoice.additional_info) %></textarea>	
			</div>

</section>