<% if(typeof hash !== "undefined") { %>
	<form method="post" name="myForm" class="hide" id="myForm" action="/inv/<%= hash %>">
		<input type="hidden" name="_method" value="put" />
<% } else { %>
	<form method="post" name="myForm" id="myForm" action="/inv">
<% } %>
		<input type="hidden" name="payload" id="payload">
	</form>

	<section class="subhead" id="overview">
		<div class="subnav">
			<ul class="nav nav-pills">
				<li class="strong"><a href="/"><img src="/assets/images/bull.svg" style="width: 30px; margin-top: -6px"> Invoiceador!</a></li>
<% if(display_type === 'EDIT') { %>
				<li><a href="#" class="save prevent-default"><i class="icon-hdd"></i> Save</a></li>
				<li class="popover-markup popover-wide">
					<a id="popover-options" class="trigger" data-placement="bottom"><i class="icon-wrench"></i> Options <b class="caret"></b></a>
					<div class="head hide">Options</div>
					<div class="content hide">
						<a id="close" data-target="popover-options" class="close popoverclose">&times;</a>	     
						<ul class="basic-list">
							<li><span class="subtitle">Locale:</span> UK (£)</li>
							<li><span class="subtitle">VAT:</span> <input type="checkbox" id="hasVat" checked="checked"/></li>
		<!-- 					<li><input type="button" id="saveCompany" class="btn" value="Save Company"/></li>
							<li><input type="button" id="loadCompany" class="btn" value="Load Company"/></li> -->
						</ul>
					<div>
				</li>
				<li class="popover-markup">
					<% if(invoiceObject.public_hash) { %>
   					<a id="popover-share" class="trigger" data-placement="bottom"><i class="icon-share"></i> Share <b class="caret"></b></a> 
   					<div class="head hide">Share</div>
				    <div class="content hide">
				       <a id="close" data-target="popover-share" class="close popoverclose">&times;</a>	       
				       <ul class="basic-list">
							<li>
								<label><span class="subtitle">Public</span> <small>(editable)</small></label>
								<input type="text" class="full-width select-auto" value="<%=baseUrl %>/<%=invoiceObject.public_hash %>"/>
							</li>
							<li>
								<label><span class="subtitle">Private</span>  <small>(read-only)</small></label>
								<input type="text" class="full-width select-auto" value="<%=baseUrl %>/inv/<%=invoiceObject.private_data.hash %>/edit"/>
							</li>
						</ul>
				    </div>
			    	<% } else { %>
						<a id="popover-share" class="disabled" ><i class="icon-share"></i> Share <b class="caret"></b></a> 
					<% } %>
				</li>
<% } %>
				<li class="dropdown">
					<% if(invoiceObject.public_hash) { %>
					<a class="trigger" id="dLabel" role="button" data-toggle="dropdown" data-target="" >
						<i class="icon-print"></i> Export <b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

						<li><a href="/<%=invoiceObject.public_hash %>.html">HTML</a></li>
						<li><a href="/<%=invoiceObject.public_hash %>.json">JSON</a></li>
						<li><a href="/<%=invoiceObject.public_hash %>.pdf">PDF</a></li>
					</ul>
					<% } else { %>
					<a class="disabled"><i class="icon-print"></i> Export <b class="caret"></b></a>
					<% } %>
				</li>  
			</ul>


		</div>

	</section>

