<html>
<head>
	<title>Invoiceador</title>

	<%- include header %>

	<style>
		.invoice { max-width: 700px; min-height: 1120px; margin: auto;}
		.invoice { border: 1px solid #bbb; }
		/*.share-well { max-width: 700px; margin: auto;}*/
	</style>

</head>
<body>

	<input type="hidden" name="hash" id="hash" value="<%= hash %>" />

	<div id="main-container" class="container">

		<%- include preview-menu %>
		<p><small>Preview for invoice no. <%=invoice.number %> of <%=invoice.date%></small></p>
		<div class="wellx share-well">
			<ul class="basic-list">
				<li>
					<input type="text" class="select-auto smallish input-large" value="<%=baseUrl %>/<%=invoiceObject.public_hash %>"/>
					 <span class="smallish-label">Public URL (to share)</span>
					
				</li>
				
				<li>
					<input type="text" class=" select-auto smallish input-large" value="<%=baseUrl %>/inv/<%=invoiceObject.private_data.hash %>/edit"/>
					 <span class="smallish-label">Private URL (to edit)</span>
					
					
				</li>

			</ul>


		</div>
		<hr/>



		<%- include main-alert %>
		<%- include invoice-display %>
	</div>
	<%- include footer %>

	<%- include options-modal %>

</body>
</html>