<html>
<head>
	<title>Invoiceador</title>

	<%- include header %>

	<style>
		.container { max-width: 700px;}

	</style>

</head>
<body>

	<input type="hidden" name="hash" id="hash" value="<%= hash %>" />

	<div id="main-container" class="container">
		<%- include menu %>
		<%- include invoice-display %>
	</div>

	<%- include options-modal %>

</body>
</html>