<html>
<head>
	<title>Invoiceador</title>

	<%- include header %>

	<style>
		.invoice { max-width: 700px; min-height: 920px;  margin: auto;}
		<% if(!plain) {  %>
			.invoice { border: 1px solid #bbb; }
		<% } %>
	</style>

</head>
<body>

	<input type="hidden" name="hash" id="hash" value="<%= hash %>" />

	<div id="main-container" class="container">
		<% if(!plain) {  %>
			<%- include view-menu %>
			<%- include main-alert %>
		<% } %>
		<%- include invoice-display %>
	</div>
	<% if(!plain) {  %>
		<%- include footer %>
		<%- include options-modal %>
	<% } %>
</body>
</html>