<html>
<head>
	<title>Invoiceador</title>

	<%- include header %>

</head>
<body>

	<input type="hidden" name="shortid" id="shortid" value="<%= hash %>" />

	<div id="main-container" class="container">
		<%- include menu %>
		<%- include invoice-display %>
	</div>

	<%- include options-modal %>

</body>
</html>